.baseboard {
  background: #122c3d;
  width: 100%;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-left: 19rem;
  padding-right: 20.5rem;
}

.baseboard > img {
  width: 30rem;
  height: 10rem;
  margin-top: 1.1rem;
  margin-bottom: 0.6rem;
}

.baseboard a img {
  width: 4.5rem;
  height: 4.5rem;
}

.baseboard a:nth-child(2) img {
  margin-left: 8.5rem;
}
