.wrappCard {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 70%;
}

.card1 img {
  width: 100%;
  max-width: 300px;
}

.text-doar {
  width: 60%;
}

.card1 {
  display: flex;
  justify-content: space-between;
  padding: 80px;
  font-size: 15px;
}
.text {
  width: 60%;
}
.card2 {
  display: flex;
  justify-content: space-between;
  padding: 80px;
  font-size: 15px;
}

.card2 img {
  width: 100%;
  max-width: 300px;
}
