.wrappCard {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 70%;
}

.card1 img {
  width: 30rem;
  height: 30rem;
}

.text-doar {
  width: 60%;
}

.text-doar h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 4.9rem;
  color: #2c2738;
}

.text-doar p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 3.2rem;
  color: #122c3d;
}

.card1 {
  display: flex;
  justify-content: space-between;
  padding: 80px;
  font-size: 15px;
}
.text {
  width: 60%;
}

.text h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 4.9rem;
  color: #2c2738;
}

.text p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 3.2rem;
  color: #122c3d;
}

.card2 {
  display: flex;
  justify-content: space-between;
  padding: 80px;
  font-size: 15px;
}

.card2 img {
  width: 30rem;
  height: 30rem;
}
