* {
  font-family: 'Open Sans', sans-serif;
  text-align:justify;
  padding-right: 10px;
  line-height: 1,5;  
}

.wrappCard {     
  display: flex;  
  flex-direction: column;       
}

.card1 img {
  width: 50%;
  min-width: 100%;
}

.text-doar{  
  width: 100%;
}

.card1 {
  display: flex;
  justify-content: space-between;
  padding: 80px;
  font-size: 15px;  
}

.card2 img {
  width: 50%;
  min-width: 100%;
}

.text{
  width: 100%;
}

.card2 { 
  display: flex;
  justify-content: space-between;
  padding: 80px;
  font-size: 15px;
}
