.grid-section {
  background: #f8f7f7;
 
}

.grid-section h2 {
  text-align: center;
  padding-top: 7.8rem;
  margin-bottom: 7.4rem;

  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 3.6rem;
}

.galeria {
  grid-column: 1 / -1;
}

.slide-wrapper {
  overflow: hidden;
  grid-column: 1 / -1;
}

.slide {
  display: flex;
}

.slide:hover {
  will-change: transform;
}

.slide li {
  flex-shrink: 0;
  width: 115px;
  max-width: 800px;
  margin: 0 20px;
  text-align: center;
  overflow: hidden;
  opacity: 0.8;
  transition: 0.4s;
  cursor: pointer;
  align-items: center;
  flex-direction: column;
}

.slick-initialized .slick-slide{
  display: flex !important;
}

.slide li strong{
  font-size:15px;
}

.slide li p {
  width: 100%;
  margin: 0 auto;
}

.slide img {
  width: 100%;
  height:200px;
  border-radius: 100%;
  max-width:200px;
  transition: .5s linear;
  box-shadow: 2px 2px 1px #111;
}

.slide img:hover{
  transform: scale(0.9)
}

.slide li.active {
  opacity: 1;
  transform: scale(1);
}

.grid-section .ButoonDonate {
  display: flex;
  justify-content: space-around;

  margin-top: 7.4rem;
  margin-bottom: 0.9rem;
}

.grid-section .ButoonDonate a {
  background: #c2525e;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.2rem;

  cursor: pointer;
  width:300px;
  padding:10px;
  height:50px;
  text-align: center;

}

.grid-section .ButoonDonate a:hover{
  opacity: 0.9;
}

.grid-section .division img {
  display: flex;
  margin: 0 auto;
}
