* {
    font-family: 'Open Sans', sans-serif;  
}

.wrappCard > .card1 {      
       
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;
    justify-content: space-between;   
}

/*.wrappCard {     
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; 
    align-items: center;    
    padding: 20px;   
    
}*/
.card1 img{
    width: 30%;
}

.card1{
   
    display: flex;    
    justify-content: space-between;
      

}

.card2 {
    
    display: flex;
    justify-content: space-between;
}